html,body{
    background-color: #dde2e3;
    height: 100%;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.wrapper-header{
    background-color: #c4d0d9;
    margin-bottom:30px;
}

.header{
    padding:10px;
    padding-right: 42%;
    display:flex;
    justify-content: space-between;
}

h1{
    font-size:14px;
    font-weight: 300;
}

.header__logo{
    max-width:100px;
    max-height: 100px;
}

.wrapper-main{
    margin-left:7%;
}

main{
    background-color: #dde2e3;
    flex:1 1 auto;
}

.main-stroke{
    margin-bottom:5px;
    display:block;
}

.form{
    max-width: 600px;
    margin:0 auto;
    border-radius: 15px;
    padding:30px;
    border:#b0bec7 4.5px dotted;
    margin-bottom: 30px;
}

.form__item{
    margin-bottom: 18px;
}

.form__legend{
    font-weight:700;
    font-size: 18px;
    margin-bottom:30px;
}

.form__input{
    border-radius: 5px;
    padding:5px;
}
.form__personal-info{
    display:block;

    margin-bottom: 30px;
    border:none;
}
.form__contact-info{
    display:block;

    margin-bottom: 30px;
    border:none;
}
.form__comfortable-time{
    display:block;
    margin-bottom: 30px;
    border:none;
}

.form__radio-button{
    display:block;
}


.form__button{
    border-radius: 10px;
    border: none;
    background-color:#c4d0d9;
    width:200px;
    height:30px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
}


.form__button:hover{
    box-shadow: 5px 5px 9px -5px rgba(52, 79, 99, 0.83);
    transition-duration: 0.1s;
}

.footer{
    background-color: #c4d0d9;
}

.footer__text{
    padding:10px;
    text-align:center;
}